<% if @we_work_remote_jobs.present? %>
  <div class="span4 well pre-scrollable">
    <center><%= image_tag "weworkremote.jpg" %></center>
    <br>   
    <% @we_work_remote_jobs.each do |job| %>
      <%= link_to job["title"], job["link"]  %>
      <br>
      <%= job["pubDate"][0..-15] %>
      <br><br>
    <% end %>
  </div>
<% end %>