<h1>Listing jobs</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td>
          <%= job["title"] %>
          &nbsp;&nbsp;&nbsp;
          <%= job["location"] %>
        </td>
      </tr>
      <tr>
        <td>
          <%= link_to job["url"], job["url"]  %>
        </td>
      </tr>
      <tr>
        <td>
          <br>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>