// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.well {
   background-color: white;
}

.row-fluid [class*="span"]:nth-child(3n+1) {
   margin-left: 0;
}

.pre-scrollable {
	height: 350px;
}